@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
  background: linear-gradient(to right, #636363, #5e6147);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: whitesmoke;
  width: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);
}

.calculator-display {
  background: rgb(44, 44, 44);
  color: rgb(242, 238, 230);
  display: flex;
  justify-content: end;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  font-size: 2em;
  overflow-x: auto;
}


/* custom scroll bar */
::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 0, 0);
  border-radius: 10px;
}


/* buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.equal-sign {
  grid-column: -2;
  grid-row: start / span 4;
  background: rgb(30, 154, 30) !important;
}

button {
  min-height: 40px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.5em;
  border: none;
  background: rgb(177, 177, 177);
  cursor: pointer;
}

button:hover {
  filter: brightness(125%);
}

button:active {
  transform: translateY(2px);
}

.operator {
  background: rgb(101, 101, 101);
  color: whitesmoke;
}

.clear {
  background: rgb(180, 0, 0);
  color: whitesmoke;
}

/* Media Query: Tablets and below */
@media screen and (max-width: 768px) {
  .calculator {
    width: 90vw;
  }
}